@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "IranSans-1";
    src: url("../fonts/IRANSansX-Regular.ttf") format("ttf");
    font-weight: normal;
    font-style: normal;
  }

  /* @layer base {
    .disable-preflight * {
      all: unset;
    }
  }
  
  @layer base {
    .enable-preflight {
      all: revert;
    }
  } */
 
    